/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }



body{
  background-color: pink;
}

/* Layers */

.layer-0{
  z-index:0 ;
}


/* Background Shapes */
.quarter-UL{
	  width: 30vh;
    height: 30vh;
    border-top-right-radius:0;
    border-top-left-radius:0;
    border-bottom-right-radius:100%;
    border-bottom-left-radius:0;
    background: #FE99AA;
}

.quarter-UR{
  width: 30vh;
  height: 30vh;
  border-top-right-radius:0;
  border-top-left-radius:0;
  border-bottom-right-radius:0;
  border-bottom-left-radius:100%;
  background: #FE99AA;
}

.quarter-DL{
  width: 30vh;
  height: 30vh;
  border-top-right-radius:100%;
  border-top-left-radius:0;
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
  background: #FE99AA;
}

.quarter-DR{
  width: 30vh;
  height: 30vh;
  border-top-right-radius:0;
  border-top-left-radius:100%;
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
  background: #FE99AA;
}


/* Header */
.header-img-size{
  height: 10vh;
}

/* side */

.side-images{
justify-content: space-between;
}

.side-images>img:first-child{
  height: 20vh;
  margin-top: 6.5vh;
}
.side-images>img:last-child{
  height: 20vh;
  margin-top: 6.5vh;
}

/* Main Content */

.main-text-container-first-section{
position: relative;
width: 50%;
height: 10%;
transform: translate(50%,-40vh);

background: #FFB0BE;
border-radius: 50px;
display: flex;
align-items: center;
}

.main-text-first-section{
  font-family: 'Shiny-Flakes-DEMO';
  font-size:large;
  font-weight:normal;
  letter-spacing: 2px;
  text-align: center;
  
}

.span-text-first-section{
  font-family: 'PORKYS_';
  color:#983369;
}

/* Second Main */
.main-container-second-section{
  position: absolute;
  height: 8vh;
  width: 50%;
 transform: translate(100%,-35vh);
}

.name-label{
background: #FFB0BE;
border-radius: 30px;
width: 20%;
display: flex;
justify-content: center;
align-items: center;
font-family: 'Shiny-Flakes-DEMO';
letter-spacing: 2px;
font-weight: bold;
font-size: xx-large;

}

.name-input-box{
  border-radius: 30px;
  background: #FFB0BE;
  border-width: 0vh;
  margin-left: 2vh;
  width: 30%;
  text-align: center;
  font-size: large;
}

/* Third Main */
.main-container-third-section{
  height: 30vh;
  width: 27%;
 transform: translate(184%,-25vh);
}

.qualities>div {
  margin-bottom: 2vh;
  margin-left: 0.8vh;
}


.answers>div{
margin-bottom: 2vh;
}

.text-display-box{
  border-radius: 30px;
  background: #FFB0BE;
  border-width: 0vh;
  width: 22vh;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: bolder;
  
}

.answer-display-box{
  border-radius: 30px;
  background: #FFB0BE;
  border-width: 0vh;
  margin-left: 2vh;
  width: 33vh;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textStyle{
  display:flex;
  justify-content: center;
  align-items: center;
}
/* section four */

.last-image{
  position: absolute;
width: 30%;
height:35%;
transform: translate(84%,-63vh);
}

.img-size-fourth-section{
  height: 100%;
border-radius:30px ;
}
/* Footer */

.bottom{
  position: absolute;
  bottom:0;
  width: 100%;
  }

.image-spacing{
  position: relative;
  height: 30vh;
}

/* Utilities */


.flex{
  display: flex;
}

.flex-dir-colm{
  flex-direction: column;
}

.flex-dir-row{
  flex-direction: row;
}
.space-between{
  justify-content: space-between;
}


@font-face {
  font-family: 'Shiny-Flakes-DEMO';
  src: url(/fonts/Shiny-Flakes-DEMO.ttf);
}

@font-face {
  font-family: 'PORKYS_';
  src: url(/fonts/PORKYS_.TTF);
}