/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }



body{
  background-color: pink;
}

/* Layers */

.layer-0{
  z-index:0 ;
}


/* Background Shapes */
.quarter-UL{
	  width: 30vh;
    height: 30vh;
    border-top-right-radius:0;
    border-top-left-radius:0;
    border-bottom-right-radius:100%;
    border-bottom-left-radius:0;
    background: #FE99AA;
}

.quarter-UR{
  width: 30vh;
  height: 30vh;
  border-top-right-radius:0;
  border-top-left-radius:0;
  border-bottom-right-radius:0;
  border-bottom-left-radius:100%;
  background: #FE99AA;
}

.quarter-DL{
  width: 30vh;
  height: 30vh;
  border-top-right-radius:100%;
  border-top-left-radius:0;
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
  background: #FE99AA;
}

.quarter-DR{
  width: 30vh;
  height: 30vh;
  border-top-right-radius:0;
  border-top-left-radius:100%;
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
  background: #FE99AA;
}


/* Header */
.header-img-size{
  height: 10vh;
}

/* center */

.central-images{
justify-content: space-between;
}

.central-images>img:first-child{
  height: 30vh;
  margin-left: -3vh;
  margin-top: 4vh;
}
.central-images>img:last-child{
  height: 30vh;
  margin-right: -3vh;
  margin-top: 4vh;
}
/* Footer */

.bottom{
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  width: 100%;
  }

.image-spacing{
  bottom: -5vh;
  position: relative;
  height: 30vh;
}

/* Utilities */


.flex{
  display: flex;
}

.space-between{
  justify-content: space-between;
}
.text{
  font-family: 'puppylike';
  font-size:large;
}

@font-face {
  font-family: 'puppylike';
  src: url(/fonts/PORKYS_.TTF);
}