/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }



body{
background-color:pink;
}

.text{
  font-family: 'puppylike';
  font-size:large;
}

@font-face {
  font-family: 'puppylike';
  src: url(/fonts/PORKYS_.TTF);
}